%h3
  - path = @node.get_path
  - path.each do |n|
    = link_to n.name, list_node_path(n)
    - if path.last != n
      \/

= render 'nodes/search_form'

%table.table.table-striped
  %thead
    %tr
      %th id
      %th= link_to 'name', list_node_path(@node, sort: params['sort'] == 'name' ? 'name_desc' : 'name')
      %th= link_to 'type', list_node_path(@node, sort: params['sort'] == 'type' ? 'type_desc' : 'type')
      %th= link_to 'date', list_node_path(@node, sort: params['sort'] == 'date' ? 'date_desc' : 'date')
      %th
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @nodes.each do |node|
      %tr
        %td= node.id
        %td= node.name
        %td= node.is_folder ? "Folder" : "File"
        %th= node.updated_at
        %td
          - if node.is_folder
            = link_to 'List', list_node_path(node)
          - else
            = link_to 'Download', download_node_path(node)
        %td
          - if !node.is_folder
            = link_to 'Copy', copy_node_path(node), :method => :post, :data => { :confirm => 'Are you sure?' }
        %td
          - if !node.is_folder
            = link_to 'Move', move_folder_list_node_path(node)
        %td= link_to 'Share', share_setting_node_path(node)
        %td= link_to 'Edit', edit_node_path(node)
        %td= link_to 'Destroy', node, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'ファイルの追加', new_file_node_path(@node)
\|
= link_to 'フォルダの追加', new_folder_node_path(@node)

%br

= link_to 'ファイル変更履歴', event_logs_path

