%h1 List

%table.table.table-striped
  %thead
    %tr
      %th id
      %th name
      %th type
      %th
      %th
      %th

  %tbody
    - @node.child_nodes.each do |node|
      %tr
        %td= node.id
        %td= node.name
        %td= node.is_folder ? "Folder" : "File"
        %td
          - if node.is_folder
            = link_to 'List', list_node_path(node)
          - else
            = link_to 'Download', download_node_path(node)
        %td= link_to 'Edit', edit_node_path(node)
        %td= link_to 'Destroy', node, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%h2 ファイルの追加
= simple_form_for(Node.new) do |f|
  = f.error_notification
  .form-inputs
    = f.input :parent_node_id, as: :hidden, input_html: {value: @node.id}
    = f.file_field :file
  .form-actions
    = f.button :submit

%h2 フォルダの追加
= simple_form_for(Node.new) do |f|
  = f.error_notification
  .form-inputs
    = f.input :parent_node_id, as: :hidden, input_html: {value: @node.id}
    = f.input :name
  .form-actions
    = f.button :submit