%h1 フォルダの追加
= simple_form_for(Node.new) do |f|
  = f.error_notification
  .form-inputs
    = f.input :parent_node_id, as: :hidden, input_html: {value: @node.id}
    = f.input :name
  .form-actions
    = f.button :submit

= link_to '戻る', list_node_path(@node.id)