%h1 ファイルの追加
= simple_form_for(@node) do |f|
  = f.error_notification
  .form-inputs
    = f.input :is_folder, as: :hidden
    = f.input :parent_node_id, as: :hidden
    = f.file_field :file
  .form-actions
    = f.button :submit

= link_to '戻る', node_path(@parent_node)