%h1 ファイル名検索

= render 'nodes/search_form'

%table.table.table-striped
  %thead
    %tr
      %th= link_to '名前', search_nodes_path(search: params['search'], sort: params['sort'] == 'name' ? 'name_desc' : 'name')
      %th= link_to '種類', search_nodes_path(search: params['search'], sort: params['sort'] == 'type' ? 'type_desc' : 'type')
      %th= link_to '更新日', search_nodes_path(search: params['search'], sort: params['sort'] == 'date' ? 'date_desc' : 'date')
      %th
      %th
      %th
      %th

  %tbody
    - @nodes.each do |node|
      %tr
        %td= node.name
        %td= node.is_folder ? "フォルダ" : "ファイル"
        %th= node.updated_at
        %td
          - if node.is_folder
            = link_to '一覧表示', list_node_path(node)
          - else
            = link_to 'ダウンロード', download_node_path(node)
        %td
          - if !node.is_folder
            = link_to 'コピー', copy_node_path(node), :data => { :confirm => 'コピーしますか？' }
        %td= link_to '名前変更', edit_node_path(node)
        %td= link_to '削除', node, :method => :delete, :data => { :confirm => '削除しますか？' }

