%h1 Search

= render 'nodes/search_form'

%table.table.table-striped
  %thead
    %tr
      %th id
      %th= link_to 'name', search_nodes_path(search: params['search'], sort: params['sort'] == 'name' ? 'name_desc' : 'name')
      %th= link_to 'type', search_nodes_path(search: params['search'], sort: params['sort'] == 'type' ? 'type_desc' : 'type')
      %th= link_to 'date', search_nodes_path(search: params['search'], sort: params['sort'] == 'date' ? 'date_desc' : 'date')
      %th
      %th
      %th
      %th

  %tbody
    - @nodes.each do |node|
      %tr
        %td= node.id
        %td= node.name
        %td= node.is_folder ? "Folder" : "File"
        %th= node.updated_at
        %td
          - if node.is_folder
            = link_to 'List', list_node_path(node)
          - else
            = link_to 'Download', download_node_path(node)
        %td
          - if !node.is_folder
            = link_to 'Copy', copy_node_path(node), :data => { :confirm => 'Are you sure?' }
        %td= link_to 'Edit', edit_node_path(node)
        %td= link_to 'Destroy', node, :method => :delete, :data => { :confirm => 'Are you sure?' }

