%h3
  - path = @node.get_path
  - path.each do |n|
    = link_to n.name, node_path(n)
    - if path.last != n
      \/

= render 'nodes/search_form'

%table.table.table-striped
  %thead
    %tr
      %th= link_to '名前', node_path(@node, sort: params['sort'] == 'name' ? 'name_desc' : 'name')
      %th= link_to '種類', node_path(@node, sort: params['sort'] == 'type' ? 'type_desc' : 'type')
      %th= link_to '更新日', node_path(@node, sort: params['sort'] == 'date' ? 'date_desc' : 'date')
      %th
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @nodes.each do |node|
      %tr
        %td= node.name
        %td= node.is_folder ? "フォルダ" : "ファイル"
        %td= node.updated_at
        %td
          - if node.is_folder
            = link_to '一覧表示', node_path(node)
          - else
            = link_to 'ダウンロード', download_node_path(node)
        %td
          - if !node.is_folder
            = link_to 'コピー', copy_node_path(node), :method => :post, :data => { :confirm => 'コピーしますか？' }
        %td
          - if !node.is_folder
            = link_to '移動', move_folder_list_node_path(node)
        %td= link_to '共有', share_setting_node_path(node)
        %td= link_to '名前変更', edit_node_path(node)
        %td= link_to '削除', node, :method => :delete, :data => { :confirm => '削除しますか？' }

%br

= link_to 'ファイルの追加', new_file_node_path(@node)
\|
= link_to 'フォルダの追加', new_folder_node_path(@node)

%br

= link_to 'ファイル変更履歴', event_logs_path

